.opciones {
    max-height: 200px;
    overflow-y: scroll;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
}

.pointer {
    cursor: pointer;
}

body {
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}



.letra-pequenia {
    font-size: 12px;
}

.bannerText{
    text-align: center;
    vertical-align: middle;
}

.banner{
    padding: 20px;
}

.nolist{
    list-style:none;
}

@media(min-width: 768px) {
    .borde-comentario {
        border-right: 3px solid gray;
    }
}

@media(max-width: 767px) {
    .borde-comentario {
        border-bottom: 3px solid gray;
    }
}

#fb-share-button {
    background: #3b5998;
    border-radius: 3px;
    font-weight: 600;
    padding: 5px 8px;
    display: inline-block;
    position: static;
}

#fb-share-button:hover {
    cursor: pointer;
    background: #213A6F
}

#fb-share-button svg {
    width: 18px;
    fill: white;
    vertical-align: middle;
    border-radius: 2px
}

#fb-share-button span {
    vertical-align: middle;
    color: white;
    font-size: 14px;
    padding: 0 3px
}

.fuente-normal {
    font-family: Arial, Helvetica, sans-serif;
}

.proyecto-general:hover {
    transform: scale(1.04);
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.f-18 {
    font-size: 18px;
}

.zoom-tilt img {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.zoom-tilt img:hover {
    -webkit-transform: rotate(5deg) scale(1.3);
    -moz-transform: rotate(5deg) scale(1.3);
    -ms-transform: rotate(5deg) scale(1.3);
    -o-transform: rotate(5deg) scale(1.3);
    transform: rotate(5deg) scale(1.3);
}

.mw-280 {
    max-width: 280px;
}

@media (max-width:763px) {
    #desarrollado {
        text-align: center !important;
    }
}

#projectsContainer {
    min-height: 570px;
}

.h-custom {
    height: 1px;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
    width: 100%;
	text-align: left;
    font: bold 16px sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;

}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 11px;
  font-weight: normal;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

  .verticalAling {
    margin-top: 50%;
  }

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

footer{
	position: fixed;
	bottom: 0;
}

.marg{
	padding-left: 15%;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

.parent {
	/* The image used */
    background-image: url(./images/slides/ht1.jpg);

    /* Full height */
    height: 700px; 
	width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logorreg{
	background-color: #292c2f;
	opacity: .50;
	overflow: hidden;
	height: 30%;
  }

  .logorreg-button{
	margin-top: 50px;
	align-content: left;
  }

  .child{
	vertical-align: middle;
	padding: 5%;
	margin-top: 10%;
	text-decoration: none;
  }
  
.box3 {
	width: 300px;
	margin: 50px auto;
	border-radius: 15px;
	background: #00bfb6;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-weight: 900;
	font-family: arial;
	position: relative;
  }
  
  
  /* speech bubble 13 */
  
  .sb13:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 15px solid #00bfb6;
	border-right: 15px solid transparent;
	border-top: 15px solid #00bfb6;
	border-bottom: 15px solid transparent;
	right: -16px;
	top: 0px;
  }
  
  
  /* speech bubble 14 */
  
  .sb14:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 15px solid transparent;
	border-right: 15px solid #00bfb6;
	border-top: 15px solid #00bfb6;
	border-bottom: 15px solid transparent;
	left: -16px;
	top: 0px;
  }
