.opciones {
    max-height: 200px;
    overflow-y: scroll;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
}

.pointer {
    cursor: pointer;
}

body {
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

footer {
    min-height: 200px;
}

.letra-pequenia {
    font-size: 12px;
}



@media(min-width: 768px) {
    .borde-comentario {
        border-right: 3px solid gray;
    }
}

@media(max-width: 767px) {
    .borde-comentario {
        border-bottom: 3px solid gray;
    }
}

#fb-share-button {
    background: #3b5998;
    border-radius: 3px;
    font-weight: 600;
    padding: 5px 8px;
    display: inline-block;
    position: static;
}

#fb-share-button:hover {
    cursor: pointer;
    background: #213A6F
}

#fb-share-button svg {
    width: 18px;
    fill: white;
    vertical-align: middle;
    border-radius: 2px
}

#fb-share-button span {
    vertical-align: middle;
    color: white;
    font-size: 14px;
    padding: 0 3px
}

.fuente-normal {
    font-family: Arial, Helvetica, sans-serif;
}

.proyecto-general:hover {
    transform: scale(1.04);
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.f-18 {
    font-size: 18px;
}

.zoom-tilt img {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.zoom-tilt img:hover {
    -webkit-transform: rotate(5deg) scale(1.3);
    -moz-transform: rotate(5deg) scale(1.3);
    -ms-transform: rotate(5deg) scale(1.3);
    -o-transform: rotate(5deg) scale(1.3);
    transform: rotate(5deg) scale(1.3);
}

.mw-280 {
    max-width: 280px;
}

@media (max-width:763px) {
    #desarrollado {
        text-align: center !important;
    }
}